*{
    outline: 2px solid red;
}

body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 10px color: black;
}

#main {
    font-size: large;
    color: black;
    margin: 25px
}


h1 {
    color: blueviolet;
    margin: 30px;
}

.alert-text {
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.alert {
    color: rgb(224, 87, 8);
    font-weight: bold;
}

.test-class {
    font-weight: bolder;
    font-variant-caps: normal;
}

#testid {
    font-size: large;
    color: darkblue;
}


.paragraph {
    color: pink;
}

.child {
    font-weight: bolder;
}

.parent .child {
    background-color: white;
}